# Binance API
bn_api_key=你的Binance_API_Key
bn_api_secret=你的Binance_API_Secret

# Core
FNG_SYMBOL=BTCUSDT
FNG_CONVERT_ID=2781
FNG_USE_MA_TP=1
FNG_MA_DAYS=90
FNG_DRY_RUN=1
FNG_ORDER_QTY=
FNG_LOOKBACK_DAYS=120
FNG_SIGNAL_DAY=
FNG_IGNORE_STATE=0
FNG_RUNTIME_DIR=trade/runtime
FNG_RUN_MODE=once
FNG_BINANCE_BASE_URL=https://fapi.binance.com

# Exit execution
FNG_PRE_IOC_LIMIT_WAIT_MS=2000
FNG_IOC_INTERVAL_MS=100
FNG_IOC_MAX_ATTEMPTS=100
